.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/.gradle/
android/local.properties
android/app/build/
*.iml
android/key.properties
android/app/upload-keystore.jks
*.jks
*.keystore
